<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>SUPABASE_URL</key>
    <string>https://rkjxwslzporcoixnvptb.supabase.co</string>
    <key>SUPABASE_ANON_KEY</key>
    <string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJranh3c2x6cG9yY29peG52cHRiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDc5ODIzODEsImV4cCI6MjA2MzU1ODM4MX0.9rGfFZRW1iLCUHiEwUKItxA3gTA-oop8Bn1i-rmsF8Q</string>
    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to take photos of receipts</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to select receipt photos</string>
</dict>
</plist>
